/* CSS Document */
body,td,th {
	font-family: 宋体;
	font-size: 12px;
	color: #636363;
}
body {
	background-image: url(../images/Jinji_Bg.jpg);
	background-repeat: repeat;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a {
	font-family: 宋体;
	font-size: 12px;
	color: #636363;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #636363;
}
a:hover {
	text-decoration: none;
	color: #92130d;
}
a:active {
	text-decoration: none;
	color: #636363;
}


.IndexAbout { line-height:24px; padding:0px; }
#IndexAbout #IndexDivImg { FLOAT: left; WIDTH: 200px; HEIGHT:131px; padding-right:15px; padding-top:5px; }

a.NewsBoldTitle:link { font-size: 12px; color: #c70003;font-weight:bold; text-decoration: none; }
a.NewsBoldTitle:visited { font-size: 12px; color: #c70003; font-weight:bold; text-decoration: none; }
a.NewsBoldTitle:hover { font-size: 12px; color: #92130d; font-weight:bold; text-decoration:underline; }
a.NewsBoldTitle:active { font-size: 12px; color: #c70003; font-weight:bold; text-decoration: none; }

a.CaiSeBoldTitle:link { font-size: 13px; color: #851c41;font-weight:bold; text-decoration: none; }
a.CaiSeBoldTitle:visited { font-size: 13px; color: #851c41; font-weight:bold; text-decoration: none; }
a.CaiSeBoldTitle:hover { font-size: 13px; color: #92130d; font-weight:bold; text-decoration:underline; }
a.CaiSeBoldTitle:active { font-size: 13px; color: #e1000b; font-weight:bold; text-decoration: none; }

.IndexContact { line-height:22px; font-size:12px; font-family:Arial, Helvetica, sans-serif; }

.ProClass { width:240px; padding:0px; margin:0px; }
.ProClass ul{list-style:none; padding:0px; margin:0px;}
.ProClass ul li { float:left; list-style:none; width:240px; height:40px; }
.ProClass .Pro_L{ float:left; list-style:none; width:240px; height:1px; background:url(../images/Nei_About_Left_Line.jpg); padding:0px; margin:0px; }
.ProClass li .Pro_v a{ width:220px;height:40px; line-height:40px; display:block; font-size:14px; color:#2a2a2a; font-weight:bold; float:left; font-family:"Microsoft Yahei"; background:url(../images/Nei_About_Left_List.jpg); padding-left:20px; }
.ProClass li .Pro_v a:hover,.ProClass li .Pro_v .sele{background:url(../images/Nei_About_Left_List_Hover.jpg); line-height:40px; font-size:14px; color:#e2328c ; font-weight:bold; float:left; font-family:"Microsoft Yahei"; padding-left:20px; }

.NeiRightTitle { background-color:#F9F9F9; border:1px #efefef solid; }
.NeiRightTitleRight { padding-right:10px; padding-top:3px; color:#5F5F5F; }

a.ProductClass:link { font-size: 13px; color: ##666666; font-weight:bold; text-decoration: none; }
a.ProductClass:visited { font-size: 13px; color: ##666666; font-weight:bold; text-decoration: none; }
a.ProductClass:hover { font-size: 13px;color: #ffffff; font-weight:bold; text-decoration:none; }
a.ProductClass:active { font-size: 13px; color: ##666666; font-weight:bold; text-decoration: none; }

.Nei_Top_Title { font-size:14px; padding-top:3px; font-weight:bold; color:#2a2a2a; }
.About { font-size:14px; line-height:28px; background-color:#FFFFFF; color:#5f5f5f; padding:15px; border:1px #efefef solid; font-family:Arial, Helvetica, sans-serif; }
.About .AboutImg { float:right; padding-left:15px; padding-top:8px; padding-bottom:0px;}
.NewsContent { font-size:14px; padding:12px; border:1px #efefef solid; background-color:#FFFFFF;}

a.OrgBoldNewsLink:link { font-size: 12px; color: #E2328C ; font-weight:bold; font-weight:bold; text-decoration: none; }
a.OrgBoldNewsLink:visited { font-size: 12px; font-weight:bold; color: #E2328C; font-weight:bold;	text-decoration: none; }
a.OrgBoldNewsLink:hover { font-size: 12px; font-weight:bold; color: #c60065; font-weight:bold; text-decoration:underline; }
a.OrgBoldNewsLink:active { font-size: 12px; font-weight:bold; color: #E2328C; font-weight:bold; text-decoration: none; }

.Newsh1 { color:#000000; padding:0px; margin:0px; font-size:20px; font-family:"Microsoft Yahei"; }

a.ProdoctListTitle:link { font-size: 24px; color: #E2328C; font-family:"Microsoft Yahei"; font-weight:bold; text-decoration: none; }
a.ProdoctListTitle:visited { font-size: 24px; color: #E2328C; font-family:"Microsoft Yahei"; font-weight:bold; text-decoration: none; }
a.ProdoctListTitle:hover { font-size: 24px; color: #c60065 ; font-family:"Microsoft Yahei"; font-weight:bold; text-decoration:underline; }
a.ProdoctListTitle:active { font-size: 24px; color: #E2328C; font-family:"Microsoft Yahei"; font-weight:bold; text-decoration: none; }

.ProdoctListContent { line-height:24px; font-size:12px; font-family:Arial, Helvetica, sans-serif; padding-top:8px; }

a.CareersMore:link { font-size: 12px; font-family:Arial, Helvetica, sans-serif; color: #2a2a2a; text-decoration: none; }
a.CareersMore:visited { font-size: 12px; font-family:Arial, Helvetica, sans-serif; color: #2a2a2a; text-decoration: none; }
a.CareersMore:hover { font-size: 12px; font-family:Arial, Helvetica, sans-serif; color: #84020a; text-decoration:none; }
a.CareersMore:active { font-size: 12px; font-family:Arial, Helvetica, sans-serif; color: #2a2a2a; text-decoration: none; }

.F-F{ font-family:Arial, Helvetica, sans-serif; color:#646464; font-size:12px; line-height:24px; }